.im-fell-great-primer-regular {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 400;
  font-style: normal;
}
.im-fell-great-primer-regular-italic {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 400;
  font-style: italic;
}
.special-elite-regular {
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.josefin-slab-<uniquifier> {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


h1 {
    font-family: "Special Elite", serif;
}

h2 {
    font-family: "IM Fell Great Primer", serif;
    
}

